@{
    ViewData["Title"] = "Coding Page";
    var myMsg = "Coding Page - today is "+DateTime.Now.DayOfWeek;
    var currentTime = DateTime.Now;
    
}

<div class="text-center white box-shadow">
    <h1>Coding</h1>
    <p> OMEGALUL @currentTime </p>

    <p>@myMsg </p>

</div>