@{
    ViewData["Title"] = "Home Page";
    var myMsg = "Home Page - today is "+DateTime.Now.DayOfWeek;
    var currentTime = DateTime.Now;
    
}

<div class="contentbox text-center box-shadow">
    <h1>apro.space</h1>
    <p> OMEGALUL @currentTime </p>

    <p>@myMsg </p>
    <div class="content">
        <h2>Header two</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste voluptatibus ullam nihil tempora sunt consectetur harum dicta, aut corrupti nisi porro laboriosam quia non impedit unde aperiam saepe, illo earum!</p>
    </div>
    <div class="content">
        <h2>Header two</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum blanditiis dolor similique! Consectetur veniam nostrum, nisi eveniet ab dolorum voluptatibus, quidem eaque animi eos expedita aperiam temporibus impedit nemo iusto!</p>
    </div><div class="content">
        <h2>Header two</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, rerum repellat magnam quibusdam sed aperiam deserunt alias animi. Excepturi quod hic cupiditate inventore, fugit architecto doloribus amet nesciunt dignissimos reiciendis!</p>
    </div>
</div>

