@{
    ViewData["Title"] = "Music Page";
    var myMsg = "Music Page - today is "+DateTime.Now.DayOfWeek;
    var currentTime = DateTime.Now;
    
}

<div class="text-center white box-shadow">
    <h1>Music</h1>
    <p> OMEGALUL @currentTime </p>

    <p>@myMsg </p>

</div>